<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post" action="/user-login">
        <h3>Login page</h3>
<input placeholder="EMAIL" type="email" name="email" />
<br> <br> 
<input placeholder="Pswrd" name="password" />

<br> <br>

<button>Submit</button>


    </form>
</body>
</html>